@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: url(images/bg.jpg);
  background-attachment: fixed;
}
.container {
  width: 320px;
}
.nav {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.header {
  margin-bottom: 5px;
}

.content {
  margin: auto;
  margin-top: 10px;
  background: url(images/fg.jpg) no-repeat center center/cover;
  height: 100%;
}

.text {
  position: relative;
  font-family: "Poppins", sans-serif;
  margin-bottom: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  transform: translateY(25%);
  /* text-transform: uppercase; */
  width: 100%;
  height: 800px;
}

.text .title {
  font-size: 50px;
  color: #fff;
  display: flex;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.text .slogan {
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  letter-spacing: 2px;
}

.sub {
  font-size: 40px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  text-shadow: 2px 2px #ff0000;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.title1 {
  color: #ffe449;
  margin-right: 10px;
}

.card {
  /* width: 1vw; */
  width: 600px;
  text-align: left;
  background-color: rgba(249, 246, 246, 0.401);
  /* background-color: #3c4852; */
  padding: 20px;
  font-family: "Poppins", sans-serif;
  margin: 25px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card h4 {
  color: #0f1011;
  font-size: 35px;
  color: #dc2f2f;
  margin: 15px 0;
}

.card img {
  /* object-fit: cover; */
  border-radius: 10px;
  margin-right: 20px;
  overflow: hidden;
  width: 500px;
  /* height: 50px; */
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.desc {
  margin-right: 24px;
  font-weight: 300;
  color: #1a244d;
}
ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  letter-spacing: 2px;
}

#ayumi {
  width: 250px;
  height: 300px;
  margin-top: 19px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card > img {
  width: 250px;
  height: 300px;
}

@media screen and (max-width: 992px) {
  body {
    font-family: "Poppins", sans-serif;
    background: url(images/bg.jpg);
    background-attachment: fixed;
  }

  .nav {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px;
  }

  .navimg {
    max-width: 150px;
  }
  .right {
    margin-left: 20%;
  }
  .header {
    margin-bottom: 10px;
  }

  .content {
    margin-top: 5px;
    background: url(images/fg.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
  }

  .text {
    position: relative;
    font-family: "Poppins", sans-serif;
    margin-bottom: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    transform: translateY(25%);
    /* text-transform: uppercase; */
    width: 100%;
    height: 400px;
  }

  .text .title {
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  .text .slogan {
    font-size: 15px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
  }

  .sub {
    padding-top: 0px;

    font-size: 30px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  .card {
    width: 500px;
    text-align: left;
    background-color: rgba(249, 246, 246, 0.401);
    padding: 7px;
    font-family: "Poppins", sans-serif;
    margin: 12px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .card h4 {
    color: #dc2f2f;
    font-size: 20px;
    color: aliceblue;
    margin: 10px 0;
  }

.card img {
    /* object-fit: cover; */
    border-radius: 9%;
    margin-right: 12px;
    overflow: hidden;


    margin-top: 90px;
    width: 50%;
    height: 40%;

    /* height: 50px; */
}
#ayumi {
    width: 888px;
    height: 239px;
    margin-top: 19px;
}
#megumi {
    width: 358px;
    height: 259px;
    margin-top: 19px;
    margin-right: 6%;

}
#conan{
    width: 578px;
    height: 289px;
    margin-top: 19px;
}
#ran{
    height:279px;
}
#akai{
    width: 758px;
    height: 289px;
    margin-top: 19px; 
}
#heji{
    width: 748px;
    height: 259px;
    margin-top: 19px; 
}
#kudo{
    width: 1025px;
    height: 259px;
    margin-top: 19px; 
}
#yuki{
    width: 425px;
    height: 229px;
    margin-top: 19px; 
}
#ai{
    width: 1025px;
    height: 329px;
    margin-top: 19px; 
}
#kogoro{
    width: 1025px;
    height: 329px;
    margin-top: 19px; 
    margin-right:6%; 
}
#kazu{
    width: 1225px;
    height: 229px;
    margin-top: 19px; 
}
#agasa{
    margin-right:7.3%;
}
  ul {
    list-style-type: none;
  }

  ul li {
    display: inline-block;
    margin: 0 20px;
    position: relative;
  }

  ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
  }

@media screen and (max-width: 992px) {
    body {
        font-family: 'Poppins', sans-serif;
        background: url(images/bg.jpg);
        background-attachment: fixed;
    }
    
    .nav {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 4px;
    }
    
    .navimg {
        max-width: 150px;
    }
    .right{
        margin-left: 20%;
    }
    .header {
        margin-bottom: 10px;
    }
    
    
    .content {
        margin-top:5px;
        background: url(images/fg.jpg) no-repeat center center/cover;
        height: 100%;
        width: 100%;
    }
    
    .text {
        position: relative;
        font-family: "Poppins", sans-serif;
        margin-bottom: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        transform: translateY(25%);
        /* text-transform: uppercase; */
        width: 100%;
        height: 400px;
    }
    
    .text .title {
        font-size: 30px;
        color: #fff;
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }
    
    .text .slogan {
        font-size: 15px;
        color: #fff;
        text-align: center;
        font-weight: 300;
        letter-spacing: 2px;
    }
    
    .sub {
        padding-top:0px;

        font-size: 30px;
        color: #fff;
        text-align: center;
        font-weight: 300;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }
    
    .card {
        
        text-align: left;
         background-color:rgba(249, 246, 246, 0.401);
        padding: 7px;
        font-family: "Poppins", sans-serif;
        margin: 12px;
        display: flex;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .card h4 {
        color: #dc2f2f;
        font-size: 20px;
        color: aliceblue;
        margin: 10px 0;
    }
    
    .card img {
        /* object-fit: cover; */
        border-radius: 9%;
        margin-right: 12px;
        overflow: hidden;
        margin-top: 90px;
        width: 1163px;
        height: 150px;
        /* height: 50px; */
    }
    
    ul {
        list-style-type: none;
    }
    
    ul li {
        display: inline-block;
        margin: 0 20px;
        position: relative;
    }
    
    ul li a {
        text-decoration: none;
        font-size: 20px;
        color: #fff;
        text-align: center;
        font-weight: 400;
        letter-spacing: 2px;
    }
    
    #ayumi {
        width: 618px;
        height: 139px;
        margin-top: 19px;
    }
}
